.form{
    display:block
}


form label{

}


form input[type=text]{
    display: block;
    margin-bottom:20px;

}

form input[type=email]{
    display: block;
    margin-bottom: 20px;
}

form input[type=text-area]{
    display: block;
    width: 70%;
    height:50px;
    margin-bottom: 20px;;
}

button{
    border-color: blue;
}